.overlay {
  background-color: #00000000;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.overlay .frame-overlay {
  background-color: #0000009f;
  width: 316px;
  height: 540px;
}

.overlay .overlap-group {
  position: relative;
  height: 540px;
  background-image: url(./img/overlay-frame.svg);
  background-size: 100% 100%;
}

.overlay .overlay-text {
  position: absolute;
  width: 220px;
  height: 460px;
  top: 49px;
  left: 46px;
  font-family: "B Traffic-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 15px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  direction: rtl;
  overflow-y: scroll;
}
